*,*:after,*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
}

h1{
    text-align: center;
    font-family: 'Lato';
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0,0,0,.15);
}