* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font: 100% / 200% 'Trebuchet MS';
}
body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: pink;
  background-color: #000;
  max-width: 50em;
  margin: 0 auto 100em;
}
main {
  padding: 1em;
  display: flex;
}
main header {
  width: 100%;
}
main article {
  transform: translate(1rem, 2rem);
}
h1 {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.25;
}
h1 em {
  font-size: 2.5em;
  color: #f8e7ea;
  font-weight: normal;
}
article h2 {
  position: absolute;
  left: -666em;
}
a {
  color: pink;
}
div.wrapper {
  position: relative;

  background-color: pink;
}
section {
  padding: 1rem;
  color: #000;
  opacity: 0;
  transition: 0.25s;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
section.active {
  opacity: 1;
}
section a {
  color: #000;
}
section[data-route='network'] {
  background-color: #efb399;
}
section[data-route='console'] {
  background-color: #d17249;
}
section[data-route='debugger'] {
  background-color: #bdffbe;
}
section[data-route='errors'] {
  background-color: #78cc50;
}
article {
  border-width: 1px 0;
  margin: 1rem;
}

img {
  height: 20vw;
}
footer {
  background-color: pink;
  color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
}
