* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font: 100% / 200% 'Trebuchet MS';
}
body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  color: pink;
  background-color: #000;
}
ul {
  list-style: none;
}
main {
  padding: 1em;
  display: flex;
}
main header {
  width: 100%;
}
main article {
  transform: translate(1rem, 2rem);
}
h1 {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.25;
}
h1 em {
  font-size: 2.5em;
  color: #f8e7ea;
  font-weight: normal;
}

a {
  color: aqua;
}
section {
  background-color: aqua;
  padding: 1rem;
  color: #000;
  opacity: 0;
  transition: 0.25s;
  position: absolute;
  width: 100%;
  top: 5em;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}
section[data-route='giphy'] img {
  width: 80vw;
  height: auto;
}
section h2 {
  width: 100%;
}
section.active {
  opacity: 1;
  z-index: 20;
}
section a {
  color: #000;
}

article {
  border-width: 1px 0;
  margin: 1rem;
}

img {
  height: 20vw;
}
footer {
  background-color: pink;
  color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
}
div.loader {
  animation: fontbulger 0.5s infinite;
  opacity: 0;
  transition: 0.25s;
  transition-delay: 0.3s;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
div.loading {
  opacity: 1;
  transition-delay: 0;
}

@keyframes fontbulger {
  0%,
  100% {
  }
  50% {
    transform: scale(1.2, 1.2);
  }
}
