* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

html, body {
    background: #0a0a0a;
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
}

.overflowHidden {
    overflow-y: hidden;
}

header {
    height: 100%;
    background-image: url("../img/JornVeltrop_mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 1s ease;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.headerKlein {
    height: 40%;
    background-position: 50% 20%;
    transition: all 1s ease;
}

header section {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 4em 0;
}

h1 {
    font-size: 1.6em;
    transition: transform 1s ease, opacity 1s ease;
    background-color: #d83e42;
    padding: .5em 1em;
}

header a {
    margin-top: 1.5em;
    background: transparent;
    border: solid 2px white;
    color: #fff;
    padding: .8em 1.5em;
    border-radius: 3em;
    cursor: pointer;
    filter: drop-shadow(0 0 .3em #000);
    transition: transform .4s;
}

header a:hover {
    transform: scale(1.07);
}



article {
    padding: 2em;
    padding-bottom: 4em;
    overflow-y: scroll;
    height: 45%;
}

article h2 {
    font-size: 2em;
    margin-bottom: .3em;
}

article h3 {
    margin-top: 2em;
    margin-bottom: .2em;
    color: #d83e42;
}

article > p:first-of-type {
    font-style: italic;
    font-weight: 200;
    font-size: 1em;
}

article a {
    white-space: nowrap;
    text-decoration: underline;
}

article section {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

nav {
    width: 100%;
    background: #000;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    border-top: solid 1px #fff;

    visibility: visible;
    transition: transform 1s ease;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

nav img {
    height: 30px;
    transition: transform .2s;
}

nav img:hover {
    transform: scale(1.1);
}

nav h4 {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 300;
    margin-top: 3px;
}

.hiddenTransform {
    visibility: hidden;
    transition: visibility 0s 1s, transform 1s ease;
    transform: translateY(5.5em);
}

.hiddenTransformFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .8s, transform .8s ease, opacity .8s ease;
    transform: translateY(2em);
}


@media only screen and (min-width: 500px) {
    header {
        background-image: url("../img/JornVeltrop_desktop.png");
        background-position: 50% 40%;
    }

    .headerKlein {
        background-position: 50% 40%;
    }

    nav {
        justify-content: center;
    }

    nav a {
        margin: 0 3em;
    }
}

@media only screen and (min-width: 1200px) {
    article section {
        display: flex;
        flex-direction: column;
        max-width: 550px;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        background-image: url("../img/JornVeltrop_desktopBreed.jpg");
        background-position: 50% 40%;
    }

    .headerKlein {
        height: 50%;
        background-position: 50% 40%;
    }

    article section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    article section div {
        width: 50%;
        padding-right: 4em;
    }
}