body{
    margin: 0;
}

h1{
padding-left: 2em;
}

.content {
    background-color:grey;
    /* width: 1280px;
    height: 714px; */
    
    /* max-width: 100%;
    height: auto; */

    max-width: 100%;
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.container {
    display: block;
    position: relative;
    height: 0;
}

.ratio {
    /* ratio calc = (100% / 16) * 9 */
    padding-bottom: 26.25%;
}