html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
}

article {
    width: 80%;
    margin: 1em 0;
}

img {
    width: 100%;
}

input {
    padding: 1em 1.3em;
    border: none;
    border-radius: 1em;
}

button {
    appearance: none;
    border: none;
    border-radius: .6em;
    padding: .7em 1em;
    margin-left: 1em;
}

form {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}