html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: block;
    width: 100%;
}

main {
    padding: 1.5em;
    width: calc(100% - 3em);
}

section {
    width: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6em;
    justify-content: center;
}

@media only screen and (min-width: 360px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 700px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    section {
        grid-template-columns: repeat(4, 1fr);
    }
}

img {
    width: 100%;
}

input {
    padding: 1em 1.3em;
    border: none;
    border-radius: 1em;
}

button {
    appearance: none;
    border: none;
    border-radius: .6em;
    padding: .7em 1em;
    margin-left: 1em;
}

form {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    background: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}