* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #40474f;
  padding: 1.1rem;
  margin-bottom: 1rem;
}

main {
  /* background-color: #000; */
  padding-top: 3vh;
}

body {
  background-color: #1d1b1b80;
}

section {
  background-color: #40474f;
  padding: 1rem;
  border-radius: 20px 20px 0 0;
}

h1 {
  font-family: "poe-vetica-new-condensed", sans-serif;
  font-size: calc(1.3vw + 1.3vh + 1.3vmin);
  max-width: 100%;
  /* flex-wrap: wrap; */
  color: #c6cfd0;
  /* margin-left: 3vw; */
}

li {
  list-style: none;
  display: flex;
  margin: 4vh 0;
}

img {
  width: 25vw;
  margin: 0 2vh 2vw;
}

button {
  /* position: relative; */
  border: none;
  /* background-color: #40474f; */
}

/* Search bar */

form {
  display: flex;
  flex-direction: column;
}

#search-input {
  color: #40474f;
  padding: 0.45rem;
  border-color: #40474f;
  /* font-family: "poe-vetica-new-condensed", sans-serif; */
  font-weight: 400;
  font-size: calc(1.3vw + 1.3vh + 1.3vmin);
  border: none;
  width: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
}

#search-input::placeholder {
  color: #c6cfd0;
}

.search-icon {
  /* position: absolute; */
  color: black;
  margin: auto;

  align-items: center;
  width: calc(2vw + 2vh + 2vmin);
  height: calc(2vw + 2vh + 2vmin);
}

.search-button {
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  padding: 0.45rem;
  border: none;
  cursor: pointer;
  border-radius: 0 0.25rem 0.25rem 0;
}

header form {
  display: flex;
  flex-direction: row;
}

/* De filter buttons */

.filter {
  font-family: "poe-vetica-new-condensed", sans-serif;
  color: #fcfcfc;
  font-size: calc(2.7vw + 2.7vh + 2.7vmin);
  width: calc(15vw + 15vh + 15vmin);
  height: calc(5vw + 5vh + 5vmin);

  background-color: #40474f;
  box-shadow: 0 4px 8px #00000040;
  border-radius: 10px;
  padding: 0 18px;
  margin-bottom: 4vh;
}

.filter::placeholder {
  color: #fcfcfc;
  font-style: italic;
}

input {
  border: none;
}

input:focus {
  /* border: 10px solid red; */
  outline: yellow;
  border: none;
}

.jaar-button {
  font-family: "poe-vetica-new-condensed", sans-serif;
  color: #fcfcfc;
  font-size: calc(2.7vw + 2.7vh + 2.7vmin);
  width: calc(15vw + 15vh + 15vmin);
  height: calc(5vw + 5vh + 5vmin);
  text-align: left;
  background-color: #40474f;
  box-shadow: 0 4px 8px #00000040;
  border-radius: 10px;
  padding: 0 18px;
  margin-bottom: 4vh;
  margin-left: 5vw;
  font-style: italic;
}
.jaar-open {
  background-color: #c2ccce;
  position: relative;
  box-shadow: 0 4px 8px #00000040;
  font-size: calc(2.7vw + 2.7vh + 2.7vmin);
  margin-left: 5vw;
  border-radius: 10px;
  margin-bottom: 4vh;
  width: calc(18vw + 18vh + 18vmin);
  height: calc(10vw + 10vh + 10vmin);
  display: inline-flex;
}
.jaar-open-style {
  color: #f9f9f9;
  font-family: "poe-vetica-new-condensed", sans-serif;
  background-color: #c2ccce;
  width: calc(6.5vw + 6.5vh + 6.5vmin);
  font-size: calc(2.7vw + 2.7vh + 2.7vmin);
}
.jaar-open-style::placeholder {
  color: #f9f9f9;
  font-family: "poe-vetica-new-condensed", sans-serif;
}
.dash {
  color: #f9f9f9;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: calc(2.7vw + 2.7vh + 2.7vmin);
}
#jaar {
  margin-left: 5vw;
  /* margin-top: 3vh; */
}

#artiest {
  margin-left: 25vw;
  /* margin-right: 25px; */
}

#type {
  margin-left: 5%;
}

.apply {
  width: calc(5vw + 5vh + 5vmin);
  height: 9vh;
  align-self: center;
  justify-content: center;
  /* height: 54%; */
  background-color: #d55140;
  border-radius: 4px;
  display: flex;
}

.arrow-down {
  width: calc(1.3vw + 3vh + 1.3vmin);
  align-self: center;
  justify-content: center;
}

/* Section of artwork */

.art {
  box-shadow: 0px 5px 5px #00000043;
  border: 3px solid #000;
}

.art-list {
  padding-top: 100px;
}

a {
  text-decoration: none;
}

/* Styling empty state art */

.line5 {
  width: 15vw;
  position: absolute;
  height: 1vh;
  background-color: #c2ccce;
  display: block;
  border-radius: 10px;
  left: 10rem;
  top: 27.8rem;
}

.square {
  width: 23vw;
  height: 23vw;
  background-color: #c2ccce;
  display: inline-block;
  margin-right: 1.4em;
  margin-left: 0.7em;
}

.line1 {
  width: 40vw;
  height: calc(0.8vw + 0.8vh + 0.8vmin);
  background-color: #c2ccce;
  display: block;
  border-radius: 10px;
  margin: 0;
}
.line2 {
  width: 30vw;
  height: calc(0.8vw + 0.8vh + 0.8vmin);
  background-color: #c2ccce;
  display: block;
  border-radius: 10px;
  margin: 2.2vh 0;
}
.line3 {
  width: 50vw;
  height: calc(0.8vw + 0.8vh + 0.8vmin);
  background-color: #c2ccce;
  display: block;
  border-radius: 10px;
  margin: 2.2vh 0;
}
.line4 {
  width: 50vw;
  height: calc(0.8vw + 0.8vh + 0.8vmin);
  background-color: #c2ccce;
  display: block;
  border-radius: 10px;
  margin: 0;
}

/* Next Page */

.next-page {
  display: flex;
}

.page {
  font-size: calc(1.2vw + 1.2vh + 1.2vmin);
  font-weight: 400;
  margin: auto;
}

.left,
.right {
  width: calc(2vw + 2vh + 2vmin);
  height: calc(2vw + 2vh + 2vmin);
  background-color: #c2ccce;
  color: #40474f;
  /* font-weight: 600; */
  border-radius: 70px;
}

.page-number {
  font-family: "poe-vetica-new-condensed", sans-serif;
  font-weight: 600;
}

/* Extra stuff */

.hidden {
  display: none;
}

.dissapear {
  opacity: 0;
}
