* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #111111;
    color: #fff;
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2em;
    background-color: #3A3F43;
    padding: 1em;
    padding-top: 28em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation-name: landing;
    animation-duration: 2s;
}

article h1 {
    font-size: 2em;
    text-align: center;
    margin: 2em 0;
}

main {
    display: flex;
    justify-content: center;
}

main P {
    position: absolute;
    font-size: 1.2em;
    top: 6em;
    width: 15em;
    text-align: center;
    visibility: hidden;
}

main img {
    position: absolute;
    top: 6em;
    height: 14em;
    visibility: hidden;
    border-radius: 50%;
    width: 14em;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

 main h1 {
    position: absolute;
    top: 2.5em;
    text-align: center;
    font-size: 5em;
    visibility: hidden;
    margin: 0;
 }

button {
    border: none;
    padding: 0.8em 1em;
    margin: 0.3em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 1em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    background-color: #1CD85F;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover {
    transform: scale(1.05);
    transition: all .2s ease;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes show {
    0% {
        clip-path: polygon(0 0,-50% 0, 0 100%,0 100%);
    }

    5% {
        clip-path: polygon(0 0,120% 0,120% 120%,0 120%);
    }

    95% { 
        clip-path: polygon(0 0,120% 0,120% 120%,0 120%);
    }

    100% {
        visibility: visible;
        clip-path: polygon(0 0,-50% 0, 0 100%,0 100%);
    }
}

@keyframes landing {
    0% {
        opacity: 0;
        background-color: #1CD85F;
    }

    100% {
        opacity: 1;
    }
}

.show_anim {
    animation-name: show;
    animation-duration: 10s;
}